{{- $root := . -}}
{{- $defaultNamespace := default "argocd" .Values.destinationNamespace -}}
{{- $defaultServer := default "https://kubernetes.default.svc" .Values.destinationServer -}}
{{- $defaultProject := default "default" .Values.project -}}
{{- $defaultSyncPolicy := .Values.syncPolicy -}}
{{- range .Values.applications }}
{{ $appNamespace := default $defaultNamespace .namespace -}}
{{ $destination := default dict .destination -}}
{{ $destNamespace := default $appNamespace (index $destination "namespace") -}}
{{ $destServer := default $defaultServer (index $destination "server") -}}
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: {{ required "applications[].name is required" .name }}
  namespace: {{ $appNamespace }}
  labels:
{{ include "argo-applications.labels" $root | nindent 4 }}
{{- with .labels }}
{{ toYaml . | nindent 4 }}
{{- end }}
  finalizers:
    - resources-finalizer.argocd.argoproj.io
{{- with .annotations }}
  annotations:
{{ toYaml . | nindent 4 }}
{{- end }}
spec:
  project: {{ default $defaultProject .project }}
  destination:
    server: {{ $destServer }}
    namespace: {{ $destNamespace }}
  source:
{{ required "applications[].source is required" .source | toYaml | nindent 4 }}
{{- $syncPolicy := default $defaultSyncPolicy .syncPolicy }}
{{- if $syncPolicy }}
  syncPolicy:
{{ toYaml $syncPolicy | nindent 4 }}
{{- end }}
{{- with .ignoreDifferences }}
  ignoreDifferences:
{{ toYaml . | nindent 4 }}
{{- end }}
---
{{- end }}
