backend:
  image:
    repository: public.ecr.aws/r5b7j2e4/kube-rca-ecr
    tag: backend-8f052e6
  ingress:
    enabled: true
    ingressClassName: nginx
    annotations:
      nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
      cert-manager.io/cluster-issuer: letsencrypt-prod
      nginx.ingress.kubernetes.io/auth-type: "basic"
      nginx.ingress.kubernetes.io/auth-secret: "basic-auth"
      nginx.ingress.kubernetes.io/auth-realm: "Authentication Required"
      external-dns.alpha.kubernetes.io/target: 121.130.214.237
    hosts:
      - api-kuberca.kkamji.net
    paths:
      - /
    tls:
      - secretName: api-kuberca-tls
        hosts:
          - api-kuberca.kkamji.net
frontend:
  image:
    repository: public.ecr.aws/r5b7j2e4/kube-rca-ecr
    tag: frontend-6cf81cb
  ingress:
    enabled: true
    ingressClassName: nginx
    annotations:
      nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
      cert-manager.io/cluster-issuer: letsencrypt-prod
      nginx.ingress.kubernetes.io/auth-type: "basic"
      nginx.ingress.kubernetes.io/auth-secret: "basic-auth"
      nginx.ingress.kubernetes.io/auth-realm: "Authentication Required"
      external-dns.alpha.kubernetes.io/target: 121.130.214.237
    hosts:
      - kuberca.kkamji.net
    paths:
      - /
    tls:
      - secretName: kuberca-tls
        hosts:
          - kuberca.kkamji.net
