backend:
  image:
    repository: public.ecr.aws/r5b7j2e4/kube-rca-ecr
    tag: backend-ab6328c
  auth:
    secret:
      existingSecret: kube-rca-auth
    cors:
      allowedOrigins:
        - https://kuberca.kkamji.net
  postgresql:
    host: postgresql.kube-rca.svc.cluster.local
    port: 5432
    user: kube-rca
    database: kube-rca
  ingress:
    enabled: false
    ingressClassName: nginx
    annotations:
      nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
      cert-manager.io/cluster-issuer: letsencrypt-prod
      external-dns.alpha.kubernetes.io/target: 121.130.214.237
    hosts:
      - api-kuberca.kkamji.net
    paths:
      - /
    tls:
      - secretName: api-kuberca-tls
        hosts:
          - api-kuberca.kkamji.net
frontend:
  image:
    repository: public.ecr.aws/r5b7j2e4/kube-rca-ecr
    tag: frontend-52b1b0d
  ingress:
    enabled: true
    ingressClassName: nginx
    annotations:
      nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
      cert-manager.io/cluster-issuer: letsencrypt-prod
      external-dns.alpha.kubernetes.io/target: 121.130.214.237
    hosts:
      - kuberca.kkamji.net
    paths:
      - /
    tls:
      - secretName: kuberca-tls
        hosts:
          - kuberca.kkamji.net
agent:
  image:
    repository: public.ecr.aws/r5b7j2e4/kube-rca-ecr
    tag: agent-848f033
  sessionDB:
    host: postgresql.kube-rca.svc.cluster.local
    port: 5432
    name: kube-rca
    user: kube-rca
  ingress:
    enabled: false
openapi:
  enabled: true
  ingress:
    enabled: true
    ingressClassName: nginx
    annotations:
      nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
      cert-manager.io/cluster-issuer: letsencrypt-prod
      external-dns.alpha.kubernetes.io/target: 121.130.214.237
    hosts:
      - docs-kuberca.kkamji.net
    paths:
      - /
    tls:
      - secretName: docs-kuberca-tls
        hosts:
          - docs-kuberca.kkamji.net
