backend:
  image:
    repository: public.ecr.aws/r5b7j2e4/kube-rca-ecr/backend
    tag: backend-804316b
  auth:
    secret:
      existingSecret: kube-rca-auth
    cors:
      allowedOrigins:
        - https://kuberca.kkamji.net
  postgresql:
    host: kube-rca-postgresql.kube-rca.svc.cluster.local
    port: 5432
    user: kube-rca
    database: kube-rca
  flapping:
    enabled: true
    detectionWindowMinutes: 30
    cycleThreshold: 3
    clearanceWindowMinutes: 30
  ingress:
    enabled: false
    ingressClassName: nginx
    annotations:
      nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
      cert-manager.io/cluster-issuer: letsencrypt-prod
      external-dns.alpha.kubernetes.io/target: 121.130.214.237
    hosts:
      - api-kuberca.kkamji.net
    paths:
      - /
    tls:
      - secretName: api-kuberca-tls
        hosts:
          - api-kuberca.kkamji.net
frontend:
  image:
    repository: public.ecr.aws/r5b7j2e4/kube-rca-ecr/frontend
    tag: frontend-7a630da
  ingress:
    enabled: true
    ingressClassName: nginx
    annotations:
      nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
      cert-manager.io/cluster-issuer: letsencrypt-prod
      external-dns.alpha.kubernetes.io/target: 121.130.214.237
    hosts:
      - kuberca.kkamji.net
    paths:
      - /
    tls:
      - secretName: kuberca-tls
        hosts:
          - kuberca.kkamji.net
agent:
  image:
    repository: public.ecr.aws/r5b7j2e4/kube-rca-ecr/agent
    tag: agent-3ed6790
  workers: 4
  aiProvider: gemini
  prometheus:
    url: kube-prometheus-stack-prometheus.monitoring.svc.cluster.local:9090
  tempo:
    url: http://tempo.monitoring.svc.cluster.local:3200
    httpTimeoutSeconds: 10
    traceLimit: 5
    lookbackMinutes: 15
    forwardMinutes: 5
  prompt:
    tokenBudget: 32000
    maxLogLines: 25
    maxEvents: 25
    summaryMaxItems: 3
  gemini:
    modelId: "gemini-3-flash-preview"
  openai:
    modelId: "gpt-5-mini"
  sessionDB:
    host: kube-rca-postgresql.kube-rca.svc.cluster.local
    port: 5432
    name: kube-rca
    user: kube-rca
  ingress:
    enabled: false
openapi:
  enabled: true
  ingress:
    enabled: true
    ingressClassName: nginx
    annotations:
      nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
      cert-manager.io/cluster-issuer: letsencrypt-prod
      external-dns.alpha.kubernetes.io/target: 121.130.214.237
    hosts:
      - docs-kuberca.kkamji.net
    paths:
      - /
    tls:
      - secretName: docs-kuberca-tls
        hosts:
          - docs-kuberca.kkamji.net
