# Default values for kube-rca.
nameOverride: ""
fullnameOverride: ""

backend:
  replicaCount: 1
  image:
    repository: ""
    tag: ""
    pullPolicy: IfNotPresent
  service:
    type: ClusterIP
    port: 8080
  containerPort: 8080
  resources: {}
  nodeSelector: {}
  tolerations: []
  affinity: {}

  slack:
    enabled: true

    # Used when slack.secret.existingSecret="" (chart-managed Secret).
    token: ""
    # Prefer `channelId`. `channel-id` is also supported for `--set backend.slack.channel-id=...`.
    channelId: ""

    secret:
      # Use an existing Secret for Slack configuration.
      ## Name of the secret. Can be templated.
      existingSecret: kube-rca-slack
      tokenKey: kube-rca-slack-token
      channelIdKey: kube-rca-slack-channel-id

frontend:
  replicaCount: 1
  image:
    repository: ""
    tag: ""
    pullPolicy: IfNotPresent
  service:
    type: ClusterIP
    port: 80
  containerPort: 80
  resources: {}
  nodeSelector: {}
  tolerations: []
  affinity: {}
