applications:
  - name: argocd
    namespace: argocd
    source:
      repoURL: https://github.com/kube-rca/helm-charts.git
      targetRevision: main
      path: charts/argo-cd
      helm:
        valueFiles:
          - kube-rca-values.yaml
