applications:
  - name: argocd
    namespace: argocd
    source:
      repoURL: https://github.com/kube-rca/helm-charts.git
      targetRevision: main
      path: charts/argo-cd
      helm:
        valueFiles:
          - kube-rca-values.yaml
  - name: argo-applications
    namespace: argocd
    source:
      repoURL: https://github.com/kube-rca/helm-charts.git
      targetRevision: main
      path: charts/argo-applications
      helm:
        valueFiles:
          - kube-rca-values.yaml
  - name: kube-prometheus-stack
    namespace: argocd
    destination:
      namespace: monitoring
    source:
      repoURL: https://github.com/kube-rca/helm-charts.git
      targetRevision: main
      path: charts/kube-prometheus-stack
      helm:
        valueFiles:
          - kube-rca-values.yaml
  - name: alloy
    namespace: argocd
    destination:
      namespace: monitoring
    source:
      repoURL: https://github.com/kube-rca/helm-charts.git
      targetRevision: main
      path: charts/alloy
      helm:
        valueFiles:
          - kube-rca-values.yaml
  - name: loki
    namespace: argocd
    destination:
      namespace: monitoring
    source:
      repoURL: https://github.com/kube-rca/helm-charts.git
      targetRevision: main
      path: charts/loki
      helm:
        valueFiles:
          - kube-rca-values.yaml
