auth:
  existingSecret: "postgresql"
  secretKeys:
    adminPasswordKey: "postgres-password"
    userPasswordKey: "password"

primary:
  initdb:
    scripts:
      enable-pgvector.sql: |
        CREATE EXTENSION IF NOT EXISTS vector;