global:
  security:
    allowInsecureImages: true

auth:
  existingSecret: "postgresql"
  secretKeys:
    adminPasswordKey: "postgres-password"
    userPasswordKey: "password"

image:
  registry: registry.hub.docker.com
  repository: pgvector/pgvector
  tag: pg18-trixie

primary:
  initdb:
    scripts:
      enable-pgvector.sql: |
        CREATE EXTENSION IF NOT EXISTS vector;