apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "tempo.fullname" . }}
  labels:
    {{- include "tempo.labels" . | nindent 4 }}
data:
  tempo.yaml: |
    stream_over_http_enabled: true

    server:
      http_listen_port: {{ .Values.service.port }}

    distributor:
      receivers:
        otlp:
          protocols:
            grpc:
              endpoint: 0.0.0.0:{{ .Values.service.otlpGrpcPort }}
            http:
              endpoint: 0.0.0.0:{{ .Values.service.otlpHttpPort }}

    ingester:
      max_block_duration: 5m

    compactor:
      compaction:
        block_retention: {{ .Values.storage.blockRetention | quote }}

    storage:
      trace:
        backend: local
        local:
          path: {{ .Values.storage.tracesPath | quote }}
        wal:
          path: {{ .Values.storage.walPath | quote }}

    overrides:
      defaults:
        max_traces_per_user: {{ .Values.limits.maxTracesPerUser }}
