apiVersion: v1
kind: Service
metadata:
  name: {{ include "kube-rca.backend.name" . }}
  labels:
    {{- include "kube-rca.backend.labels" . | nindent 4 }}
  {{- $annotations := include "kube-rca.annotations" (dict "root" $ "component" "backend" "annotations" (dict)) | trim }}
  {{- if $annotations }}
  annotations:
{{ $annotations | nindent 4 }}
  {{- end }}
spec:
  type: {{ .Values.backend.service.type }}
  selector:
    {{- include "kube-rca.backend.selectorLabels" . | nindent 4 }}
  ports:
    - name: http
      port: {{ .Values.backend.service.port }}
      targetPort: http
