{{- $slack := default (dict) .Values.backend.slack -}}
{{- $source := default "" $slack.source -}}
{{- $secret := default (dict) $slack.secret -}}
{{- $existingSecret := default "" $secret.existingSecret -}}
{{- if and $slack.enabled (or (eq $source "createSecret") (and (eq $source "") (eq $existingSecret ""))) -}}
{{- $channelId := coalesce (index $slack "channel-id") $slack.channelId -}}
{{- $tokenKey := coalesce $secret.tokenKey (dig "keys" "token" "" $secret) -}}
{{- $channelIdKey := coalesce $secret.channelIdKey (dig "keys" "channelId" "" $secret) -}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "kube-rca.backend.slackSecretName" . }}
  labels:
    {{- include "kube-rca.backend.labels" . | nindent 4 }}
  {{- $annotations := include "kube-rca.annotations" (dict "root" $ "component" "backend" "annotations" (dict)) | trim }}
  {{- if $annotations }}
  annotations:
{{ $annotations | nindent 4 }}
  {{- end }}
type: Opaque
stringData:
  {{ required "backend.slack.secret.tokenKey (or backend.slack.secret.keys.token) is required" $tokenKey | quote }}: {{ required "backend.slack.token is required when creating Slack Secret" $slack.token | quote }}
  {{ required "backend.slack.secret.channelIdKey (or backend.slack.secret.keys.channelId) is required" $channelIdKey | quote }}: {{ required "backend.slack.channelId (or backend.slack.channel-id) is required when creating Slack Secret" $channelId | quote }}
{{- end }}
