apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "kube-rca.agent.name" . }}-config
  labels:
    {{- include "kube-rca.agent.labels" . | nindent 4 }}
data:
  agent-config.yaml: |
    logLevel: "info"
    # This is a mock configuration for the agent
    features:
      enableK8sCollector: true
      enableLogCollection: false
