name: CI (PR)
permissions:
  contents: read

on:
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: azure/setup-helm@v4
      - name: Lint
        run: helm lint charts/kube-rca
