name: Release Please

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  actions: write
  contents: write
  pull-requests: write

jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - uses: googleapis/release-please-action@v4
        id: release
        with:
          config-file: release-please-config.json
          manifest-file: .release-please-manifest.json

      - name: Trigger publish chart workflow
        if: ${{ steps.release.outputs['charts/kube-rca--release_created'] == 'true' }}
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh workflow run publish-chart.yaml \
            --ref "${{ steps.release.outputs['charts/kube-rca--tag_name'] }}"
